<app-menubar></app-menubar>
<router-outlet></router-outlet>
<br>
<p-fieldset>
  <ng-template pTemplate="header">Admin</ng-template>
  Pengertian kerja sebagai admin adalah pekerjaan dalam sebuah instansi atau perusahaan yang bersifat administratif atau bersifat teknis ketatausahaan tergantung dari perusahaan dalam bidang tertentu seperti mencakup data entry, filing, membuat pengaturan perjalanan, mengambil pemesanan, dsb.
</p-fieldset>
<br>
<p-fieldset>
  <ng-template pTemplate="header">User</ng-template>
  User berperan sebagai pengguna sistem yang sudah jadi. User sendiri terbagi menjadi operator dan manager. User juga berperan sebagai pemberi feedback bagi sistem informasi sehingga komponen pembangun sistem itu dapat memperbaiki dan mengembangkan sistem yang ada.
</p-fieldset>
