<app-menubar></app-menubar>
<router-outlet></router-outlet>
<div style="margin-top: 100px ;">
<app-tab-menu-admin ></app-tab-menu-admin>
</div>
<br><br>
<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <p-button (onClick)="submitAdd=true" (onClick)="submitEdit=false" (click)="showBasicDialog2(users)" (onClick)="handleReset($event)" icon="pi pi-user pi-plus-circle"
      styleClass="p-button-success mt-2 ml-3" label="Add" [style]="{'float': 'right'}">
    </p-button>

    </ng-template>
    <span class="p-input-icon-left p-mb-2 p-mb-md-0">
      <i class="pi pi-search"></i>
      <input type="search" pInputText placeholder="Search"
        (input)="dt.filterGlobal($any($event).target.value, 'contains')">
    </span>
  </p-toolbar>

  <p-table #dt [value]="users" [globalFilterFields]="['username', 'name']" styleClass="p-datatable-striped"
    [paginator]="true" [rows]="5" [showCurrentPageReport]="true" responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" dataKey="name">
    <!-- [value]="dataDepartment" -->
    <ng-template pTemplate="header">

      <tr>
        <th>UserID</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Nama</th>
        <th>Alamat</th>
        <th>Email</th>
        <th>Telpon</th>
        <th>Program Name</th>
        <th>Create By</th>
        <th>Update By</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
      <tr>
        <td>{{users.userId}}</td>
        <td>{{users.username}}</td>
        <td>{{users.password}}</td>
        <td>{{users.name}}</td>
        <td>{{users.address}}</td>
        <td>{{users.email}}</td>
        <td>{{users.phone}}</td>
        <td>{{users.programName}}</td>
        <td>{{users.createdBy}}</td>
        <td>{{users.updatedBy}}</td>

        <td>
          <div class="grid-container">
            <p-button icon="pi pi-pencil" (onClick)="submitEdit=true" (onClick)="submitAdd=false" (onClick)="openEdit(users)"></p-button>
          </div>
        </td>
        <td>
          <div class="grid-container">
            <p-button icon="pi pi-trash" styleClass="p-button-danger" (onClick)="handleDelete(users.userId)"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- <p-dialog [header]="action == 'add' ? 'Input User' : 'Edit User'" [(visible)]="displayAdminCreate" [style]="{width: '40vw'}" [baseZIndex]="10000" return>
  <div class="grid p-fluid">
    <div class="col-3 md:col-1">

      <label for="stacked"> UserName </label>
      <input type="text" pInputText id="User" [(ngModel)]="row.username" required autofocus style="width: 100%;">
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Password </label>
      <input type="text" pInputText id="Password" [(ngModel)]="row.password" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Nama </label>
      <input type="text" pInputText id="Nama" [(ngModel)]="row.name" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Alamat </label>
      <input type="text" pInputText id="address" [(ngModel)]="row.address" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Email </label>
      <input type="text" pInputText id="email" [(ngModel)]="row.email" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Telpon </label>
      <input type="text" pInputText id="phone" [(ngModel)]="row.phone" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Program Name </label>
      <input type="text" pInputText id="programName" [(ngModel)]="row.programName" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Create By </label>
      <input type="text" pInputText id="createdBy" [(ngModel)]="row.createdBy" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Update By </label>
      <input type="text" pInputText id="updatedBy" [(ngModel)]="row.updatedBy" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (onClick)="handlepost($event)" label="SAVE" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-times" (onClick)="handleReset($event)" label="RESET"></p-button>
  </ng-template>
</p-dialog> -->
<p-dialog [header]="actions == 'add' ? 'Input User' : 'Edit User'" [(visible)]="displayBasic2"
  [style]="{width: '50vw'}" (onHide)="submitEdit" (onHide)="submitAdd">
  <div class="grid p-fluid">
    <div class="col-12 md:col-6" *ngIf="actions=='add'">
      <label for="username">Username</label>
      <input id="username" type="text" pInputText [(ngModel)]="username" (input)="checkUsername()" required autofocus
        placeholder="Username" />
      <small class="p-invalid" style="color: red" *ngIf="checkUser">Username Required 5 Characters
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='edit'">
      <label for="username">Username</label>
      <input id="username" type="text" pInputText [(ngModel)]="row.username" required autofocus
        placeholder="Username" />
      <small class="p-invalid" style="color: red" *ngIf="checkUser">Username Required 5 Characters
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='add'">
      <label for="password">Password</label>
      <p-password id="password" type="text" required [(ngModel)]="password" autofocus placeholder="Password"
        [(ngModel)]="valuepass4" [toggleMask]="true"></p-password>
      <small class="p-invalid" style="color: red" *ngIf="submitted">Password Required
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='add'">
      <label for="name">Name</label>
      <input id="name" type="text" pInputText [(ngModel)]="name" required autofocus placeholder="Name" />
      <small class="p-invalid" style="color: red" *ngIf="submitted&&!row.name">Name Required
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='edit'">
      <label for="name">Name</label>
      <input id="name" type="text" pInputText [(ngModel)]="row.name" required autofocus placeholder="Name" />
      <small class="p-invalid" style="color: red" *ngIf="submitted&&!row.name">Name Required
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='add'">
      <label for="email">Email</label>
      <input id="email" type="email" pInputText [(ngModel)]="email" (input)="checkEmailFunc()" required autofocus placeholder="Email" />
      <small class="p-invalid" style="color: red" *ngIf="checkEmail">Email Required
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='edit'">
      <label for="email">Email</label>
      <input id="email" type="email" pInputText [(ngModel)]="row.email"  required autofocus placeholder="Email" />
      <small class="p-invalid" style="color: red" *ngIf="checkEmail">Email Required
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='add'">
      <label for="address">Address</label>
      <input id="address" type="text" pInputText [(ngModel)]="address" required autofocus placeholder="Address" />
      <small class="p-invalid" style="color: red" *ngIf="submitted&&!row.address">Alamat Required
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='edit'">
      <label for="address">Address</label>
      <input id="address" type="text" pInputText [(ngModel)]="row.address" required autofocus placeholder="Address" />
      <small class="p-invalid" style="color: red" *ngIf="submitted&&!row.address">Alamat Required
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='add'">
      <label for="phonenum">Phone Number</label>
      <input id="phonenum" type="text" pInputText [(ngModel)]="phoneNumber" required autofocus
        placeholder="Phone Number" />
      <small class="p-invalid" style="color: red" *ngIf="submitted&&!row.phone">Phone Number Required
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='edit'">
      <label for="phonenum">Phone Number</label>
      <input id="phonenum" type="text" pInputText [(ngModel)]="row.phone" required autofocus
        placeholder="Phone Number" />
      <small class="p-invalid" style="color: red" *ngIf="submitted&&!row.phone">Phone Number Required
      </small>
    </div>
    <div class="col-12 md:col-6">
      <label for="phonenum">Create By</label>
      <input id="createdBy" Type="text" pInputText [(ngModel)]="row.createdBy" required autofocus
        placeholder="Creator Name" [disabled]="true" />
      <small class="p-invalid" style="color: red" *ngIf="submitted&&!row.createdBy">Creator Required
      </small>
    </div>
    <div class="col-12 md:col-12">
      <label for="group">Group</label>
      <div class="field-checkbox" *ngFor="let check of groups">
        <p-checkbox name="group1"  value="{{check.groupId}}" [(ngModel)]="selectedGroup"></p-checkbox>
        <label for="{{check.groupName}}">{{check.groupName}}</label>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" *ngIf="submitAdd" (onClick)="newUser(); toLogin()"
      label="Submit" styleClass="p-button-text">
    </p-button>
    <p-button icon="pi pi-check" *ngIf="submitEdit" (onClick)="editUser()"
      label="Submit" styleClass="p-button-text">
    </p-button>
    <p-button icon="pi pi-times" (click)="displayBasic2=false" label="Cancel"
      styleClass="p-button-text p-button-danger">
    </p-button>
  </ng-template>
</p-dialog>

