<app-menubar></app-menubar>
<router-outlet></router-outlet>
<div style="margin-top: 100px ;">
<app-tab-menu-admin ></app-tab-menu-admin>
</div>
<br><br>
<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-info"
      (click)="showAdmin($event)"></button>
      <!-- (click)="showDepartment($event)" -->
    </ng-template>
    <span class="p-input-icon-left p-mb-2 p-mb-md-0">
      <i class="pi pi-search"></i>
      <input type="search" pInputText placeholder="Search"
        (input)="dt.filterGlobal($any($event).target.value, 'contains')">
    </span>
  </p-toolbar>

  <p-table #dt [value]="data"  [globalFilterFields]="['menuName', 'url']" styleClass="p-datatable-striped"
    [paginator]="true" [rows]="5" [showCurrentPageReport]="true" responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" dataKey="name">
    <!-- [value]="dataDepartment" -->
    <ng-template pTemplate="header">

      <tr>

        <th>MENU ID</th>
        <th>MENU NAME</th>
        <th>PROGRAM NAME</th>
        <th>URL</th>
        <th>CREATE BY</th>
        <th>CREATE DATE</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td>{{row.menuId}}</td>
        <td>{{row.menuName}}</td>
        <td>{{row.programName}}</td>
        <td>{{row.url}}</td>
        <td>{{row.createdBy}}</td>
        <td>{{row.createdDate}}</td>

        <td>
          <div class="grid-container">
            <p-button pTooltip="Edit" tooltipPosition="top" icon="pi pi-pencil" styleClass="p-button-success" (onClick)="ShowopenEdit(row)" >
            </p-button>

          </div>
        </td>
        <td>
          <div class="grid-container">
            <p-button pTooltip="Delete" tooltipPosition="top" icon="pi pi-trash" styleClass="p-button-warning" (onClick)="deletemenu(row.menuId)" >
              <!-- (onClick)="handleDelete($event)" -->
            </p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [header]="action == 'add' ? 'Input Menu ' : 'Edit Menu'" [(visible)]="displayAdminCreate" [style]="{width: '40vw'}" [baseZIndex]="10000" return>
  <div class="grid p-fluid">
    <div class="col-3 md:col-1">
      <label for="stacked"> Nama </label>
      <input type="text" pInputText id="User" [(ngModel)]="row.menuName" required autofocus style="width: 100%;">
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Icon </label>
      <input type="text" pInputText id="Icon" [(ngModel)]="row.icon" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Url </label>
      <input type="text" pInputText id="Url" [(ngModel)]="row.url" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Program Name </label>
      <input type="text" pInputText id="ProgramName" [(ngModel)]="row.programName" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Create By </label>
      <input type="text" pInputText id="CreateBy" [(ngModel)]="row.createdBy" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Update By </label>
      <input type="text" pInputText id="UpdateBy" [(ngModel)]="row.createdDate" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (onClick)="handlepost($event)" label="SAVE" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-times" (onClick)="handleReset($event)" label="RESET"></p-button>
  </ng-template>
</p-dialog>
