<app-menubar-user></app-menubar-user>
<router-outlet></router-outlet>
<br><br>
<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-info"
      (click)="showAdmin($event)"></button>

    </ng-template>
    <span class="p-input-icon-left p-mb-2 p-mb-md-0">
      <i class="pi pi-search"></i>
      <input type="search" pInputText placeholder="Search"
        (input)="dt.filterGlobal($any($event).target.value, 'contains')">
    </span>
  </p-toolbar>

  <p-table #dt [value]="data" [globalFilterFields]="['UserName', 'Nama']" styleClass="p-datatable-striped"
    [paginator]="true" [rows]="5" [showCurrentPageReport]="true" responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" dataKey="name">
    <!-- [value]="dataDepartment" -->
    <ng-template pTemplate="header">

      <tr>

        <th>UserID</th>
        <th>UserName</th>
        <th>Nama</th>
        <th>Alamat</th>
        <th>Email</th>
        <th>Telpon</th>
        <th>Program Name</th>
        <th>Create By</th>
        <th>Update By</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td>{{row.userId}}</td>
        <td>{{row.username}}</td>
        <td>{{row.name}}</td>
        <td>{{row.address}}</td>
        <td>{{row.email}}</td>
        <td>{{row.phone}}</td>
        <td>{{row.programName}}</td>
        <td>{{row.createdBy}}</td>
        <td>{{row.updatedBy}}</td>


      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [header]="action == 'add' ? 'Input User' : 'Edit User'" [(visible)]="displayAdminCreate" [style]="{width: '40vw'}" [baseZIndex]="10000" return>
  <div class="grid p-fluid">
    <div class="col-3 md:col-1">
      <label for="stacked"> UserName </label>
      <input type="text" pInputText id="User" [(ngModel)]="row.username" required autofocus style="width: 100%;">
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Password </label>
      <input type="text" pInputText id="Password" [(ngModel)]="row.password" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Nama </label>
      <input type="text" pInputText id="Nama" [(ngModel)]="row.name" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Alamat </label>
      <input type="text" pInputText id="address" [(ngModel)]="row.address" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Email </label>
      <input type="text" pInputText id="email" [(ngModel)]="row.email" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Telpon </label>
      <input type="text" pInputText id="phone" [(ngModel)]="row.phone" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Program Name </label>
      <input type="text" pInputText id="programName" [(ngModel)]="row.programName" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Create By </label>
      <input type="text" pInputText id="createdBy" [(ngModel)]="row.createdBy" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>

      <label for="stacked"> Update By </label>
      <input type="text" pInputText id="updatedBy" [(ngModel)]="row.updatedBy" required autofocus>
      <h5 class="p-invalid" style="color: red;"></h5>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (onClick)="handlepost($event)" label="SAVE" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-times" (onClick)="handleReset($event)" label="RESET"></p-button>
  </ng-template>
</p-dialog>
