.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 200px);
  margin-top: 200px;
}

.form-login {
  padding: 0 15px;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px dotted #cdcdcd;
  margin-top: -15px;
  padding-top: 15px;
  font-size: 10px;
}

.img-login {
  max-height: 300px;
}

.img-text {
  position: absolute;
  margin-top: -70px;
  margin-left: 30px;
  margin-right: 50px;
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: #211f1f;
  padding: 2px 10px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.error-msg{
  display: flex;
  justify-content: center;
}

.success-login {
  font-size: 16px;
  color: #fff;
}
